#preloard {
    font-family: cursive;
    height: 100%;
    width: 100%;
    font-size:75px;
    background-color: #333; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 2s;    
}
.splash {
    padding:15% 40%;
    position: absolute;
    font-size:70px;
    text-align: center;
    color:orange;
}     
h1 {
    color:orange;
    text-align: center;
    margin: 1;
    font-size: 50px;
    margin-top: 0px;
    font-family: cursive;
}
.barTitle {
    color: bisque;
}

.sizePicture {
    width: 400px;
    height: 350px;
    padding: 10px 20px;
}
